<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Customize Your Own Templates</h1>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Select Your Template</h4>
            <button class="btn btn-primary">Pre-made Template</button>
        </div>
        <div class="col-md-9">
            <h4>Name Your Template</h4>
            <h4>Customize Your Metrics</h4>
            <div class="row">
                <div class="col-md-3">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="advancedStats">
                                        Advanced Stats
                                    </button>
                                </h5>
                            </div>

                            <div id="advancedStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa
                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                    squid
                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft
                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you
                                    probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="balanceSheet">
                                        Balance Sheet
                                    </button>
                                </h5>
                            </div>

                            <div id="balanceSheetMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa
                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                    squid
                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft
                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you
                                    probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="cashFlowStatement">
                                        Cash Flow Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="cashFlowStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa
                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                    squid
                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft
                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you
                                    probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="incomeStatement">
                                        Income Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="incomeStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa
                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                    squid
                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft
                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                    butcher
                                    vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you
                                    probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne" id="priceTarget">
                                    Price Target
                                </button>
                            </h5>
                        </div>

                        <div id="priceTargetMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne" id="keyStats">
                                    Key Stats
                                </button>
                            </h5>
                        </div>

                        <div id="keyStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne" id="estimates">
                                    Estimates
                                </button>
                            </h5>
                        </div>

                        <div id="estimatesMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="financials">
                                        Financials
                                    </button>
                                </h5>
                            </div>

                            <div id="financialsMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad
                                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                    truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                    bird
                                    on it
                                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur
                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic
                                    synth
                                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>View Your Custom Template</h4>
                    <div class="list">
                        <button class="btn btn-primary" id="saveCustomTemplateButton" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $("#saveCustomTemplateButton").on("click", function () {
            console.log($("#inlineCheckbox2").val());
        })

        $("#advancedStats").on("click", function () {
            $('#advancedStatsMetrics').toggle();
        })
        $("#balanceSheet").on("click", function () {
            $('#balanceSheetMetrics').toggle();
        })
        $("#cashFlowStatement").on("click", function () {
            $('#cashFlowStatementMetrics').toggle();
        })
        $("#incomeStatement").on("click", function () {
            $('#incomeStatementMetrics').toggle();
        })
        $("#priceTarget").on("click", function () {
            $('#priceTargetMetrics').toggle();
        })
        $("#keyStats").on("click", function () {
            $('#keyStatsMetrics').toggle();
        })
        $("#estimates").on("click", function () {
            $('#estimatesMetrics').toggle();
        })
        $("#financials").on("click", function () {
            $('#financialsMetrics').toggle();
        })

     //   $('#myCollapsible').collapse({
      //      toggle: false
      //  })


    </script>