<script src="/js/userAuth.js"></script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="/images/Stocker-main.png" height="40" width="200" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/template">Template<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout">Log Out</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3 class='templateTitle font-weight-bold'>Create Template</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 edit-cont">
            <h6 id="viewTemplatesToEdit">Edit Template</h6>
            {{!-- <button class="btn btn-dark">Default</button> --}}
        </div>
        <div class="col-md-9">
            <h6>Template Name</h6>
            <div class="input-group mb-3 name-cont">
                <input id="customTemplateName" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <small id="error" style="display:none">Please add template name</small>
            <h6>Metrics</h6>
            <div class="row">
                <div class="col-md-5 metric-cont">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="advancedStats">
                                        Advanced Stats
                                    </button>
                                </h5>
                            </div>

                            <div id="advancedStatsMetrics" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="advancedStatsList">

                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="balanceSheet">
                                        Balance Sheet
                                    </button>
                                </h5>
                            </div>

                            <div id="balanceSheetMetrics" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id='balanceSheetList'>

                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="cashFlowStatement">
                                        Cash Flow Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="cashFlowStatementMetrics" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="cashFlowStatementList">

                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="incomeStatement">
                                        Income Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="incomeStatementMetrics" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="incomeStatementList">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="priceTarget">
                                    Price Target
                                </button>
                            </h5>
                        </div>

                        <div id="priceTargetMetrics" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='priceTargetList'>

                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="keyStats">
                                    Key Stats
                                </button>
                            </h5>
                        </div>

                        <div id="keyStatsMetrics" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='keyStatsList'>

                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="estimates">
                                    Estimates
                                </button>
                            </h5>
                        </div>

                        <div id="estimatesMetrics" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='estimatesList'>

                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="financials">
                                        Financials
                                    </button>
                                </h5>
                            </div>

                            <div id="financialsMetrics" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id='financialStatementsList'>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-warning font-weight-bold" data-toggle="modal"
                    data-target="#exampleModal" id='viewCustomTemplate'>
                    View Custom Template
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Custom Template</h5>
                <button type="button" id="close-x" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Template Name: <h6 id='inputTemplateName'></h6>
                </h6>
                <table class="table table-bordered" id="viewCreatedTemplate">
                    <tbody>
                        <tr id="viewMetricAddedCol1">
                        </tr>
                        <tr id="viewMetricAddedCol2">
                        </tr>
                        <tr id="viewMetricAddedCol3">
                        </tr>
                        <tr id="viewMetricAddedCol4">
                        </tr>
                        <tr id="viewMetricAddedCol5">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" id="closeTemplateModal" class="btn btn-dark" data-dismiss="modal">Close</button> --}}
                <button class="btn btn-warning" id="saveCustomTemplateButton" type="submit">Save</button>
                <button class="btn btn-warning" id="updateCustomTemplateButton" style="display:none"
                    type="submit">Update</button>
                <button class="btn btn-warning" id="deleteCustomTemplateButton" type="submit">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/template.js"></script>