<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Create Template</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h4 id="viewTemplatesToEdit">Edit Template</h4>
            {{!-- <button class="btn btn-dark">Default</button> --}}
        </div>
        <div class="col-md-9">
            <h4>Template Name</h4>
            <div class="input-group mb-3">
                <input id="customTemplateName" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <h4>Metrics</h4>
            <div class="row">
                <div class="col-md-5">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="advancedStats">
                                        Advanced Stats
                                    </button>
                                </h5>
                            </div>

                            <div id="advancedStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="advancedStatsList">
                                    {{!-- <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li> --}}
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="balanceSheet">
                                        Balance Sheet
                                    </button>
                                </h5>
                            </div>

                            <div id="balanceSheetMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id='balanceSheetList'>
                                    {{!-- <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li> --}}
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="cashFlowStatement">
                                        Cash Flow Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="cashFlowStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="cashFlowStatementList">
                                    {{!-- <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li> --}}
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="incomeStatement">
                                        Income Statement
                                    </button>
                                </h5>
                            </div>

                            <div id="incomeStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id="incomeStatementList">
                                    {{!-- <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li> --}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="priceTarget">
                                    Price Target
                                </button>
                            </h5>
                        </div>

                        <div id="priceTargetMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='priceTargetList'>
                                {{!-- <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 1'> Metric 1</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 2'> Metric 2</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 3'> Metric 3</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 4'> Metric 4</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 5'> Metric 5</label>
                                </li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="keyStats">
                                    Key Stats
                                </button>
                            </h5>
                        </div>

                        <div id="keyStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='keyStatsList'>
                                {{!-- <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 1'> Metric 1</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 2'> Metric 2</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 3'> Metric 3</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 4'> Metric 4</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 5'> Metric 5</label>
                                </li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-light bg-dark" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    id="estimates">
                                    Estimates
                                </button>
                            </h5>
                        </div>

                        <div id="estimatesMetrics" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <ul class="list-group" id='estimatesList'>
                                {{!-- <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 1'> Metric 1</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 2'> Metric 2</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 3'> Metric 3</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 4'> Metric 4</label>
                                </li>
                                <li class="list-group-item metricName"><label><input type="checkbox" class='addMetric'
                                            name='metric' value='Metric 5'> Metric 5</label>
                                </li> --}}
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-header text-light bg-dark" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-light bg-dark" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        id="financials">
                                        Financials
                                    </button>
                                </h5>
                            </div>

                            <div id="financialsMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group" id='financialStatementsList'>
                                    {{!-- <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li> --}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
                    id='viewCustomTemplate'>
                    View Your Custom Template
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Custom Template</h5>
                <button type="button" id="close-x" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Template Name: <h6 id='inputTemplateName'></h6>
                </h6>
                <table class="table table-bordered" id="viewCreatedTemplate">
                    <tbody>
                        <tr id="viewMetricAddedCol1">
                        </tr>
                        <tr id="viewMetricAddedCol2">
                        </tr>
                        <tr id="viewMetricAddedCol3">
                        </tr>
                        <tr id="viewMetricAddedCol4">
                        </tr>
                        <tr id="viewMetricAddedCol5">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeTemplateModal" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button class="btn btn-dark" id="saveCustomTemplateButton" type="submit">Save</button>
                <button class="btn btn-dark" id="updateCustomTemplateButton" style="display:none"
                    type="submit">Update</button>
                <button class="btn btn-dark" id="deleteCustomTemplateButton" type="submit">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/userAuth.js"></script>
<script>

    ///////////////////////////////////////////drag and drop package???///////////////////////////////////

    //////////////////////////api get metrics from db to display////////////////////////////////////

    $.get("/api/metric", function (data) {
        console.log(data);
        //     //create the ui, put the metric ids in an attribute
        console.log(data[0]);
        for (var i = 0; i < data.length; i++) {
            if (data[i].category === 'Advanced Stats') {
                $('#advancedStatsList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Balance Sheet') {
                $('#balanceSheetList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Key Stats') {
                $('#keyStatsList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Cash Flow Statement') {
                $('#cashFlowStatementList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Estimates') {
                $('#estimatesList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Income Statement') {
                $('#incomeStatementList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Financial Statements') {
                $('#financialStatementsList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
            if (data[i].category === 'Price Target') {
                $('#priceTargetList').append(`<li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' metricId='${data[i].id}' value='${data[i].description}'> ${data[i].description}</label>
                                    </li>`)
            }
        }



    });

    //get all data from templateuser to make the buttons still need to make the route - need to work in user id... add where clause to route
    $.get("/api/templateuser", function (data) {
        for (var i = 0; i < data.length; i++) {
            $("#viewTemplatesToEdit").append(`<button onclick="viewExistingTemplate(this)" value="${data[i].id}" type="button" class="list-group-item list-group-item-action lead editingTemplate">${data[i].templatename}</button>`);
        }
    });

    //get that templates info from DB and recheck boxes
    //on save update existing template post
    //   $(".list-group-item .list-group-item-action .lead .editingTemplate").on("click", function () {
    //     console.log($(this).attr("value"));
    //      console.log("IAMHERE700");
    //     $.get(`/api/templateuser/` + $(this).attr("value"), function (data) {
    //         console.log("these are the metrics");
    //           console.log(data);
    //       });
    //
    //   });

    //get that templates info from DB and recheck boxes
    //on save update existing template post
    function viewExistingTemplate(e) {
        console.log($(e).attr("value"));
        var metricNumber = $(e).attr("value");
        //hide the save button and show the update button (will write a put on click of the update button)
        $("#saveCustomTemplateButton").hide();
        $("#updateCustomTemplateButton").show();

        //keep the button highlighted *****************************

        console.log("IAMHERE700");
        $.get(`/api/templatemetric/${metricNumber}`, function (data) {
            console.log("these are the metrics");
            console.log(data);
            //check all the metric boxes for that template *********************************

            //fill in the name input with that templates name
            console.log(data[0].templatename);
            $("#customTemplateName").val(data[0].templatename);

        });
    }


    //////////////////////////////////////////////////////////////UI display/////////////////////////////////////////////////////////
    //on save if on clicked is true push into array or object or something, display on screen and make api request
    var customTemplateMetrics = [];
    var customTemplateName = "";
    var uid = 9999999;
    var customTemplateMetricIds = [];


    //on click view custom template, checked metrics are made into table on modal
    $("#viewCustomTemplate").on("click", function () {
        console.log($(this).val());
        var metricIsChecked = $(".addMetric").is(":checked");
        console.log(metricIsChecked);

        //create an array with all of the selected metrics
        $.each($("input[name='metric']:checked"), function () {
            customTemplateMetrics.push($(this).val());
            customTemplateMetricIds.push($(this).attr('metricId'));
        });
        console.log(customTemplateMetrics)

        //retrieving name of the template
        customTemplateName = $('#customTemplateName').val().trim();
        $('#inputTemplateName').html(customTemplateName);
        console.log(customTemplateName);


        //creating the demo template to view
        for (var i = 0; i < customTemplateMetrics.length; i++) {
            if (i < 2) {
                $('#viewMetricAddedCol1').append(`<td class="viewMetricChild">${customTemplateMetrics[i]}</td>`);
            } else if (i < 4) {
                $('#viewMetricAddedCol2').append(`<td class="viewMetricChild">${customTemplateMetrics[i]}</td>`);
            } else if (i < 6) {
                $('#viewMetricAddedCol3').append(`<td class="viewMetricChild">${customTemplateMetrics[i]}</td>`);
            } else if (i < 8) {
                $('#viewMetricAddedCol4').append(`<td class="viewMetricChild">${customTemplateMetrics[i]}</td>`);
            } else if (i < 10) {
                $('#viewMetricAddedCol5').append(`<td class="viewMetricChild">${customTemplateMetrics[i]}</td>`);
            }

        };

        console.log(customTemplateMetrics);
        templatePostArray = [];
        var customTemplate;
        var metricIdArray = [];

        //create an array of objects to be posted into templatemetrics table
        for (var i = 0; i < customTemplateMetrics.length; i++) {
            customTemplate = { UserUid: currentUser, templatename: customTemplateName, MetricId: customTemplateMetricIds[i] }
            templatePostArray.push(customTemplate)
            metricIdArray.push(customTemplateMetricIds[i])
            //console.log(customTemplate);
            //console.log(templatePostArray);
        };
        console.log(metricIdArray);

        //test object for post request
        //    templatePost = {
        //      uid: 9999999,
        //    templatename: customTemplateName,
        //  UserId: 1,
        //       MetricId: metricIdArray
        //  };

        console.log(templatePostArray)

        templatePostArray = { "": templatePostArray };


        //on save, make a post to the database
        $("#saveCustomTemplateButton").on("click", function () {

            $.post("/api/template/", templatePostArray)
                .then(function (results) {
                    console.log(results)
                });

            //clear template
            //$("#viewTemplatesToEdit").append(`<button class="btn btn-dark editingTemplate">${customTemplateName}</button>`);
            $('.viewMetricChild').remove();
            customTemplateMetrics = [];

            $(".addMetric").checked = false;

            location.reload();
        });



        //make a put call to DB to update existing template                                                 !!!!!!!!!
        $("#updateCustomTemplateButton").on("click", function () {
            var templateNameEdit = $(inputTemplateName).html();
            console.log(templateNameEdit);

            $.post(`/api/template/${templateNameEdit}`, templatePostArray)
                .then(function (results) {
                    console.log(results)
                });

            $('.viewMetricChild').remove();
            customTemplateMetrics = [];

            $(".addMetric").checked = false;

            location.reload();

        });

        $("#deleteCustomTemplateButton").on("click", function () {
            var templateNameEdit = $(inputTemplateName).html();
            $.post(`/api/template/delete/${templateNameEdit}`, function (result) {
                console.log(result);
            })

            location.reload();
        });


        //clear template
        $("#closeTemplateModal").on("click", function () {
            $('.viewMetricChild').remove();
            customTemplateMetrics = [];


        });
        //clear template
        $("#close-x").on("click", function () {
            console.log("ITHASBEENCLICKED");
            $('.viewMetricChild').remove();
            customTemplateMetrics = [];
            //  console.log($(".addMetric").is(":checked"));

            //why is this not working????
            //  document.getElementsByClassName("addMetric").checked = false;
            //  console.log($(".addMetric").is(":checked"));

        });


    });

    ////////////////////////////////////modal////////////////////////////////////////////////////////////
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })




    //////////////////////////////////////////list of metrics toggle///////////////////////////////////////////////////////////////////////
    $("#advancedStats").on("click", function () {
        $('#advancedStatsMetrics').toggle();
    })
    $("#balanceSheet").on("click", function () {
        $('#balanceSheetMetrics').toggle();
    })
    $("#cashFlowStatement").on("click", function () {
        $('#cashFlowStatementMetrics').toggle();
    })
    $("#incomeStatement").on("click", function () {
        $('#incomeStatementMetrics').toggle();
    })
    $("#priceTarget").on("click", function () {
        $('#priceTargetMetrics').toggle();
    })
    $("#keyStats").on("click", function () {
        $('#keyStatsMetrics').toggle();
    })
    $("#estimates").on("click", function () {
        $('#estimatesMetrics').toggle();
    })
    $("#financials").on("click", function () {
        $('#financialsMetrics').toggle();
    })

    /////////////////////////////////////////////api////////////////////////////////////////////////////

    // on click save template, pull the input of template name and metrics and post it to the the template metric api, which then adds it
    // to the database
    // on click save template, pull the template name and post it to the template user api, which then adds it to the database 

    //uid: req.body.uid,
    // templatename: req.body.templatename 



</script>