<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stocker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Customize Your Own Templates</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h4>Edit Template</h4>
                <button class="btn btn-dark">Default</button>
            </div>
            <div class="col-md-9">
                <h4>Template Name</h4>
                <div class="input-group mb-3">
                    <input id="customTemplateName" type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <h4>Metrics</h4>
                <div class="row">
                    <div class="col-md-5">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" id="advancedStats">
                                            Advanced Stats
                                        </button>
                                    </h5>
                                </div>

                                <div id="advancedStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <ul class="list-group">
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" id="balanceSheet">
                                            Balance Sheet
                                        </button>
                                    </h5>
                                </div>

                                <div id="balanceSheetMetrics" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <ul class="list-group">
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" id="cashFlowStatement">
                                            Cash Flow Statement
                                        </button>
                                    </h5>
                                </div>

                                <div id="cashFlowStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <ul class="list-group">
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" id="incomeStatement">
                                            Income Statement
                                        </button>
                                    </h5>
                                </div>

                                <div id="incomeStatementMetrics" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <ul class="list-group">
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="priceTarget">
                                        Price Target
                                    </button>
                                </h5>
                            </div>

                            <div id="priceTargetMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group">
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="keyStats">
                                        Key Stats
                                    </button>
                                </h5>
                            </div>

                            <div id="keyStatsMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group">
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" id="estimates">
                                        Estimates
                                    </button>
                                </h5>
                            </div>

                            <div id="estimatesMetrics" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <ul class="list-group">
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                    </li>
                                    <li class="list-group-item metricName"><label><input type="checkbox"
                                                class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" id="financials">
                                            Financials
                                        </button>
                                    </h5>
                                </div>

                                <div id="financialsMetrics" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <ul class="list-group">
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 1'> Metric 1</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 2'> Metric 2</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 3'> Metric 3</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 4'> Metric 4</label>
                                        </li>
                                        <li class="list-group-item metricName"><label><input type="checkbox"
                                                    class='addMetric' name='metric' value='Metric 5'> Metric 5</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
                        id='viewCustomTemplate'>
                        View Your Custom Template
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Custom Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Template Name: <h6 id='inputTemplateName'></h6>
                    </h6>
                    <table class="table table-bordered" id="viewCreatedTemplate">
                        <tbody>
                            <tr id="viewMetricAddedCol1">
                            </tr>
                            <tr id="viewMetricAddedCol2">
                            </tr>
                            <tr id="viewMetricAddedCol3">
                            </tr>
                            <tr id="viewMetricAddedCol4">
                            </tr>
                            <tr id="viewMetricAddedCol5">
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    <button class="btn btn-dark" id="saveCustomTemplateButton" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./test.js"></script>
</body>

</html>