/* global styles  */
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color:#000;
}
ul{
    list-style: none;
}
/* nav bar styles  */
nav ul{
    padding-left: 0;
}
nav li{
    padding: 0;
}
nav form{
    position: relative;
}
/* navbar search styles */
.hidden{
    opacity: 0;
}
#searchBar {
    height: 40px;
    width: 35vw;
    margin:0 20px;
    padding: 0 20px;
    
}

.searchResult {
    background: #eee;
    position: absolute;
    top: 40px;
    margin: 0 20px;
    z-index: 10;
}
.searchResultList{
    margin: 0;
}
.searchResultListItem{
    line-height: 40px;
    height: 40px;
    width: 60vw;
    padding: 0 20px;
    margin:0;
}

.searchResultListItem:hover{
    background: rgba(128, 128, 128, 0.8);
}
.searchResultListItem a{
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.searchSymbols{
    width: 5em;
    display: inline-block;
}

/* Home Page */

.watchList {
    box-sizing: border-box;
    box-shadow: 0 0 30px 1px #aaa;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
}

#stockView{
    border: 1px solid #000;
    margin-top: 0.5em;
}

.priceChart {
    width: 100%;
    height: 45vh;
    background: #ddd;
    margin: .5em;

}

.metrics{
    margin: .5em;
}

#stockView .newsArticle, #stockView .newsArticle .card-body{
    padding: 0;
    margin: 0;
    border: none;
}

/* template page */

.edit-cont {
    border-width: 1px;
    border-style: solid;
    border-color:lightgrey;
    padding: 10px;
}

#viewCustomTemplate {
    margin: 10px;
    padding: 20px;
    
}

.templateTitle {
    margin: 30px;

}

#customTemplateName {
margin-bottom: 0px;
}

#error {
margin-top: 0px;
color: red;
position: relative;
bottom: 15px;
}
